
/data/data_1
/data/data_2
/data/data_3
/data/lemmatized_dev_data.csv
/.ipynb_checkpoints
data/~$reference.xlsx
/data/poem
GoogleNews-vectors-negative300.bin
GoogleNews-vectors-negative300.bin.gz
GoogleNews-vectors-negative300.bin
src/__pycache__/preprocess.cpython-310.pyc
models/w2v_logreg.pkl
models/w2v_svc.pkl
results/~$Display_Tfidf_Results.xlsx
results/~$Display Results.xlsx
